
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Carousel Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <%= stylesheet_link_tag "bootstrap.min", media: "all", "data-turbolinks-track" => true %>

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <%= stylesheet_link_tag "carousel", media: "all", "data-turbolinks-track" => true %>
  </head>
<body>

 


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">




      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Dynamic and Expanded vCards</h2>
          <p class="lead"><b>Connective Contacts</b> enables you to share an expanded vCard which can include prior work history, education, industry specialties, etc. <br /> <br />The expanded vCard data is fully searchable from your phone so you can now better leverage your contacts.</p>
        </div>
        <div class="col-md-5">
        	<%= image_tag "mobile-dynamic-expanded-vcards.png", :class => "featurette-image img-responsive" %>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
        	<%= image_tag "mobile-multiple-vcards.png", :class => "featurette-image img-responsive" %>
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Multiple vCards </h2>
          <p class="lead"><b>Connective Contacts</b> allows you to create multiple vCards so that you can control the information that is shared with your contacts. <br /> <br /><b>PRO:</b> Professional information <br />
<b>PER:</b> Personal Information <br />
<b>ALT:</b> When you need a third vCard</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Connectivity </h2>
          <p class="lead"><b>Connective Contacts</b> enables users to connect with their contacts so that your contacts are always kept up to date.</p>
        </div>
        <div class="col-md-5">
        	<%= image_tag "mobile-connectivity.png", :class => "featurette-image img-responsive" %>
        </div>
      </div>

      <hr class="featurette-divider">

<!--       <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
        	<%= image_tag "mobile-multiple-vcards.png", :class => "featurette-image img-responsive" %>
        </div>
      </div> -->

      <div class="row featurette">
        <div class="col-md-5">
        	<%= image_tag "mobile-groups.png", :class => "featurette-image img-responsive" %>
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Groups </h2>
          <p class="lead"><b>Connective Contacts</b> enables users to organize their contacts into groups for quick accessibility.</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2014 Connective Contacts, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <%= javascript_include_tag "bootstrap.min", "data-turbolinks-track" => true%>
    <%= javascript_include_tag "docs.min", "data-turbolinks-track" => true%>
  </body>
</html>
